Bajaj Finance CSV

In [1]:
# The code was removed by Watson Studio for sharing.

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-07-04,3730.000000,3749.899902,3705.149902,3732.500000,3717.424805,743616.0
1,2019-07-05,3734.000000,3762.000000,3706.449951,3719.149902,3704.128662,776280.0
2,2019-07-08,3724.949951,3724.949951,3375.000000,3413.300049,3399.513916,3857132.0
3,2019-07-09,3410.000000,3625.000000,3336.399902,3603.100098,3588.547607,5196125.0
4,2019-07-10,3599.949951,3599.949951,3412.000000,3429.050049,3415.200439,2909584.0